div(class="navbar navbar-default navbar-fixed-top")
  div(class="container")
    div(class="navbar-header")
      a(href="/") Inicio
    div(class="navbar-collapse collapse" id="navbar-main")
      ul(class="nav navbar-nav")
        li
          a(href="/about") Acerca de mí
        li
          a(href="/about") Acerca de mí
